/** @format */

.gazou {
  width: 100%;
  height: 100%;
}
.tegami {
  display: block; /* 画像をブロック要素として扱う */
  margin: 0 auto; /* 左右のマージンを自動で均等に設定し、水平方向に中央揃え */
  width: 20%;
  height: 20%;
}
.syuugou {
  display: block;
  margin: 0 auto; /* 画像を水平方向に中央に配置 */
  width: 100%; /* 横幅を100％に設定 */
  max-height: 100%; /* 高さを100％に設定 */
}
.card {
  width: 98%;
  height: 85%;
  margin: auto;
  display: block;
}
.todo {
  width: 98%;
  height: 85%;
  margin: auto;
  display: block;
}
.rasuto {
  width: 98%;
  height: 85%;
  margin: auto;
  display: block;
}
.header {
  width: 8%;
  height: auto;
  padding: 0px 20px 0px 20px;
  position: absolute;
}
.header1 {
  width: 5%;
  height: auto;
  padding: 0px 21px 0px 20px;
  position: absolute;
}
.box {
  display: grid;
  grid-template-columns: 1fr; /* 1列のみ指定 */
  justify-content: center; /* 中央揃え */
  gap: 10px; /* 画像間の隙間 */
  margin-bottom: 20px; /* 下部の余白 */
}
.box img {
  width: 60%; /* 画像の幅を設定 */
  margin: auto;
  display: block;
  height: auto; /* 画像の高さを自動調整 */
  object-fit: cover; /* 画像のアスペクト比を保持 */
  border-radius: 10px; /* 画像の角を丸くする */
  opacity: 0; /* フェードイン効果の初期状態 */
  transition: opacity 0.5s ease-in-out; /* フェードイン効果の遷移 */
}

.box img.visible {
  opacity: 1;
}
.kaworu {
  max-width: 60%; /* 最大幅を100%にして、親要素を超えないように設定 */
  margin: auto;
  display: block;
  overflow-x: hidden; /* 横スクロールを隠す */
}

.kaworu img {
  width: 60%; /* 画像の幅を100%に設定して、親要素に合わせる */
  height: auto;
  margin: auto;
  display: block;
}

.regular {
  width: 100%; /* 通常の画像の幅 */
  max-width: calc(50% - 10px); /* 2列のグリッドを作成するための計算 */
  margin-bottom: 20px; /* 画像間の下部余白 */
  object-fit: cover; /* アスペクト比を維持 */
  border-radius: 10px; /* 角丸 */
}

/* メディアクエリで画面幅が大きい時に2列にする */
@media (min-width: 600px) {
  .box {
    grid-template-columns: repeat(2, 1fr); /* 2列のグリッドレイアウト */
  }
  .regular {
    max-width: none; /* max-widthの設定を無効化 */
  }
}

.www {
  max-width: 60%; /* 最大幅を100%にして、親要素を超えないように設定 */
  margin: auto;
  display: block;
  overflow-x: hidden; /* 横スクロールを隠す */
}

.wewe {
  max-width: 60%; /* 最大幅を100%にして、親要素を超えないように設定 */
  margin: auto;
  display: block;
  overflow-x: hidden; /* 横スクロールを隠す */
}
.sora {
  color: #66666664;
  position: absolute;
}
/*ここから「---」までマウス*/
.scrolldown {
  position: fixed;
  bottom: 10px;
  right: 5%;
  animation: mousemove 1.6s ease-in-out infinite;
}
/*したからの距離が変化して上から下に動く*/
@keyframes mousemove {
  0% {
    bottom: 10px;
  }
  50% {
    bottom: 5px;
  }
  100% {
    bottom: 10px;
  }
}

/*scrollテキストの描写*/
.scrolldown span {
  /*描画位置*/
  position: absolute;
  left: -15px;
  bottom: 45px;
  /*テキストの形状*/
  color: black;
  font-size: 0.7rem;
  letter-spacing: 0.05em;
}

/*マウスの中の線描写*/
.scrolldown span:after {
  content: "";
  /*描画位置*/
  position: absolute;
  top: 10px;
  left: 17.78px;
  /*線の形状*/
  width: 1px;
  height: 15px;
  background: black;

  animation: mousepathmove 1.4s linear infinite;
  opacity: 0;
}

@keyframes mousepathmove {
  0% {
    height: 0;
    top: 10px;
    opacity: 0;
  }
  50% {
    height: 15px;
    opacity: 1;
  }
  100% {
    height: 0;
    top: 30px;
    opacity: 0;
  }
}

/*マウスの描写*/
.scrolldown:before {
  content: "";
  /*描画いち*/
  position: absolute;
  bottom: 0;
  left: -10px;
  /*マウスの形状*/
  width: 25px;
  height: 37px;
  border-radius: 10px;
  border: 1px solid black;
}

/*マウスの中の丸の描写*/
.scrolldown:after {
  content: "";
  /*描画いち*/
  position: absolute;
  bottom: 26px;
  left: 0;
  /*丸い形状*/
  width: 5px;
  height: 5px;
  border-radius: 50%;
  border: 1px solid black;
}
/*---*/

/*バー*/
.openbtn {
  position: fixed;
  top: 10px;
  right: 10px;
  background: #dbb82e00;
  cursor: pointer;
  width: 77px;
  height: 77px;
  border-radius: 5px;
  z-index: 1000; /* ここを追加または変更する */
}

.openbtn span {
  display: inline-block;
  transition: all 0.4s;
  position: absolute;
  left: 14px;
  height: 3px;
  border-radius: 2px;
  background: #666;
}

.openbtn span:nth-of-type(1) {
  top: 15px;
  width: 45%;
}

.openbtn span:nth-of-type(2) {
  top: 23px;
  width: 35%;
}

.openbtn span:nth-of-type(3) {
  top: 31px;
  width: 20%;
}

.openbtn.active span:nth-of-type(1) {
  top: 18px;
  left: 18px;
  transform: translateY(6px) rotate(-135 deg);
  width: 30%;
}

.openbtn.active span:nth-of-type(2) {
  opacity: 0;
}

.openbtn.active span:nth-of-type(3) {
  top: 30px;
  left: 18px;
  transform: translateY(-6px) rotate(135 deg);
  width: 30%;
}
/*---*/

/*ギュイーン*/
.openbtnf {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 9999;
  cursor: pointer;
  width: 50px;
  height: 50px;
}

.openbtn spanf {
  display: inline-block;
  transition: all 0.4s;
  position: absolute;
  left: 14px;
  height: 3px;
  border-radius: 2px;
  background-color: #666666ca;
  width: 45%;
}

.openbtn span:nth-of-type(1) {
  top: 15px;
}

.openbtn span:nth-of-type(2) {
  top: 23px;
}

.openbtn span:nth-of-type(3) {
  top: 31px;
}

.openbtn.active span:nth-of-type(1) {
  top: 18px;
  left: 18px;
  transform: translateY(6px) rotate(-45deg);
  width: 30%;
}

.openbtn.active span:nth-of-type(2) {
  opacity: 0;
}

.openbtn.active span:nth-of-type(3) {
  top: 30px;
  left: 18px;
  transform: translateY(-6px) rotate(45deg);
  width: 30%;
}

#g-nav.panelactive {
  position: fixed;
  z-index: 999;
  top: 0;
  width: 100%;
  height: 100vh;
}

#g-nav-list {
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100vh;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

#g-nav.panelactive #g-nav-list {
  display: block;
}

#g-nav {
  /* 他のスタイル設定... */
  position: fixed;
  top: 0;
  right: 0;
  width: 250px; /* 適切な幅に調整する */
  height: 100%;
  text-align: right;
  padding-top: 60px; /* トップからのパディングを加える */
  right: -550px;
  top: -550px;
}

#g-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: block;
}

#g-nav ul li {
  display: block; /* これにより、リストアイテムが縦に並ぶ */
  margin: 5px 20px; /* 適宜調整して */
}

#g-nav.panelactive ul {
  opacity: 1;
}

#g-nav.panelactive ul li {
  animation-name: gnaviAnime;
  animation-duration: 1s;
  animation-delay: 0.2s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes gnaviAnime {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.circle-bg {
  position: fixed;
  z-index: 3;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #999999e8;
  transform: scale(0);
  right: -50px;
  top: -50px;
  transition: all 0.6s;
}

.circle-bg.circleactive {
  transform: scale(7);
}

nav ul {
  list-style: none;
  text-align: center;
}

nav ul li a {
  display: inline-block;
  text-decoration: none;
  color: #ffffff;
  padding: 10px;
}
/*---*/
